<div class="cover-wrapper">
	
	<div class="row">
		<div class="col-8 d-none d-lg-block">
			<img src="../images/home.JPG" alt="cover"> </img>
		</div>
		<div class="col-lg-4 col-md-12 col-sm-12">
			<h1 class="title">Gudja Web Crawler</h1>
			<div class="maintext">
				<h4>Gudja is a web crawler where you can provide an input URL, a search depth parameter and a search keyword. It then will crawl the web, displaying the links of each page the crawler visits in an interactive graph.</h4>
				<a class="btn btn-primary btn-lg btn-block" href="/crawler" role="button">Try it out!</a>
			</div>
		</div>
	</div>

</div>
